<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/dashboard/header :: common-dashboard-header}"></div>

<body id="page-top">

    <div id="wrapper">

        <div th:replace="~{common/dashboard/navbar :: common-dashboard-navbar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div th:replace="~{common/dashboard/topbar :: common-dashboard-topbar}"></div>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Heading</h1>
                    <p class="mb-4">Description.</p>
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Title</h6>
                        </div>
                        <div class="card-body">
                            <!-- Content goes here.-->
                        </div>
                    </div>

                </div>

            </div>
            <div th:replace="~{common/dashboard/footer :: common-dashboard-footer}"></div>

        </div>

    </div>
    <div th:replace="~{common/dashboard/includes :: common-dashboard-includes}"></div>

</body>

</html>