<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/dashboard/header :: common-dashboard-header}"></div>

<body id="page-top">

    <div id="wrapper">

        <div th:replace="~{common/dashboard/navbar :: common-dashboard-navbar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div th:replace="~{common/dashboard/topbar :: common-dashboard-topbar}"></div>

                <div class="container-fluid">

                    <h1 class="h3 mb-2 text-gray-800">User List</h1>
                    <p class="mb-4">The list of all users are shown below in the table.</p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-sm edit" data-id="">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <a href="#" class="btn btn-danger btn-sm delete" data-id="">
                                                    <i class="fas fa-trash-alt"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-sm edit" data-id="">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <a href="#" class="btn btn-danger btn-sm delete" data-id="">
                                                    <i class="fas fa-trash-alt"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div th:replace="~{common/dashboard/footer :: common-dashboard-footer}"></div>

        </div>

    </div>
    <div th:replace="~{common/dashboard/includes :: common-dashboard-includes}"></div>

</body>
</html>