<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/dashboard/header :: common-dashboard-header}"></div>

<body id="page-top">

    <div id="wrapper">

        <div th:replace="~{common/dashboard/navbar :: common-dashboard-navbar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div th:replace="~{common/dashboard/topbar :: common-dashboard-topbar}"></div>

                <div class="container-fluid">

                    <div th:if="${success}" class="alert alert-success">
                        <p th:text="${success}"></p>
                    </div>
                
                    <div th:if="${error}" class="alert alert-danger">
                        <p th:text="${error}"></p>
                    </div>

                    <div class="card shadow mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">User :: List</h6>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <tr th:each = "user : ${users}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text = "${user.firstName + ' ' + user.lastName}"></td>
                                            <td th:text = "${user.email}"></td>
                                            <td th:text="${user.role}"></td>
                                            <td>
                                                <a th:href="@{/users/edit/{userId}(userId=${user.id})}" class="btn btn-primary btn-sm edit" data-id="">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <a th:href="@{/users/delete/{userId}(userId=${user.id})}" class="btn btn-danger btn-sm delete" data-id="">
                                                    <i class="fas fa-trash-alt"></i> Delete
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div th:replace="~{common/dashboard/footer :: common-dashboard-footer}"></div>

        </div>

    </div>
    <div th:replace="~{common/dashboard/includes :: common-dashboard-includes}"></div>

</body>
</html>